body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.content {
    height: 80vh;
    margin-top: 4rem;
    background-color: white;
    color: blueviolet;
}

h1 {
    margin: 2rem 0;
}

.start {
    margin-top: 4rem;
    padding: 1rem 3rem;
}

.question, .time {
    color: darkslategray;
    text-align: center;
    font-size: 1.5rem;

}

.answersArea {
    text-align: center;
    font-size: 1.5rem;
    
}

.answerDiv {
    width: 60%;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    background-color: lightskyblue;
    color: darkslategray;
}

.answerDiv:hover {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}