body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.content {
    height: 80vh;
    margin-top: 4rem;
    background-color: white;
    color: blueviolet;
}

h1 {
    margin: 2rem 0;
}

.start {
    margin-top: 4rem;
    padding: 1rem 3rem;
}